@import '@/app';

.virusPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7ffe5;
}

.virusTable {
    width: 90vw;
    margin: 0 auto 50px;
    border-right: 2px solid black;

    &_row {
        display: flex;
        border-top: 2px solid black;

        &:last-of-type {
            border-bottom: 2px solid black;
        }

        &.mod_header {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        &-item {
            display: flex;
            width: 8vw;
            justify-content: flex-end;
            align-items: center;
            padding: 5px 10px;
            border-left: 2px solid black;
            font-weight: bold;
            background: #c7ffd7;

            &.mod_name {
                width: 14vw;
                justify-content: flex-start;
                text-align: left;
                color: darkblue;
            }

            &.mod_num {
                width: 4vw;
            }

            &.mod_header-item {
                position: relative;
                padding-right: 25px;
                justify-content: center;
                text-align: center;
                background: #cdcdcd;
                font-size: 14px;
                font-weight: 900;
                text-transform: uppercase;
                color: #000;

                .header_title {
                    cursor: pointer;

                    &.mod_active, &:hover {
                        color: blue;
                    }
                }
            }

            &.todayDeaths.mod_today {
                background: red;
                color: white;
            }

            &.todayCases.mod_today {
                background: #ffe773;
            }
        }
    }

    &_sort {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
        display: flex;
        flex-direction: column;

        &-item {
            width: 15px;
            height: 15px;
            cursor: pointer;

            &:hover {
                fill:blue;
            }

            &.mod_active {
                fill: blue;
            }
        }
    }

    &_scrollButton {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        outline: none;
        font-size: 12px;
        font-weight: 700;
        z-index: 5;

        &.mod_home {
            display: none;
        }
    }

    &_error {
        width: 50%;
        margin: 50px auto;
    }
}
