@import '@/app';

.main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url("/images/bg_main.jpg");
    background-size: cover;
    background-color: transparent;

    &_aside {
        flex-shrink: 0;
        width: 16vw;
        min-height: 100vh;
        background-image: url("/images/stalevar.jpg");
        background-size: cover;

        @include media ('less-1080') {
            display: none;
        }

    }

    .main_header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 15px 0;
        line-height: 1;
        border-radius: 15px;
        background: linear-gradient(to right bottom, #ff3847, #7f0004);
        overflow: hidden;

        @include media ('less-780') {
            flex-direction: column;
            line-height: 1.2;
        }

        &-name {
            font-size: 75px;
            font-weight: bold;
            padding-right: 40px;
            text-align: right;

            @include media ('less-1440') {
                font-size: 50px;
            }
            @include media ('less-780') {
                padding-right: 0;
            }
            @include media ('less-510') {
                font-size: 30px;
            }
        }

        &-feature {
            font-size: 0;
            font-weight: 900;
            color: #cdcdcd;
            text-transform: uppercase;
            overflow: hidden;

            //@include media('d-only') {
                animation-delay: 0.5s;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
            //}
            @include media('more-1440') {
                animation-name: headerFeature1;
            }
            @include media('less-1440') {
                animation-name: headerFeature2;
            }
            @include media('less-510') {
                animation-name: headerFeature3;
            }
            @include media ('less-780') {
                text-align: center;
            }

            @keyframes headerFeature1 {
                from {
                    font-size: 0;
                }
                to {
                    font-size: 75px;
                }
            }

            @keyframes headerFeature2 {
                from {
                    font-size: 0;
                }
                to {
                    font-size: 50px;
                }
            }

            @keyframes headerFeature3 {
                from {
                    font-size: 0;
                }
                to {
                    font-size: 30px;
                }
            }
        }
    }

    &_content {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
            margin: 50px 10px 25px;
            text-align: center;
            font-size: 35px;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 0.1em;
            color: #66000a;

            @include media ('less-780') {
                font-size: 25px;
            }

            @include media ('less-510') {
                font-size: 16px;
            }
        }

        &-info {
            width: 600px;
            margin: 0 auto;
            padding: 20px;
            background: linear-gradient(to right top, #2127ff, #d0fdff);
            border: 7px double black;
            border-radius: 15px;

            @include media ('less-780') {
                width: auto;
                margin: 0 10px;
            }

            @include media ('less-510') {
                padding: 10px;
            }

            .info-row {
                display: flex;
                justify-content: space-between;
                font-size: 25px;
                font-weight: 700;
                line-height: 1.5;
                color: #464464;

                @include media ('less-510') {
                    font-size: 20px;
                }

                @include media ('less-390') {
                    font-size: 15px;
                }
            }
        }

        &-links {
            position: relative;
            display: flex;
            justify-content: space-around;
            width: 600px;
            margin: 50px auto 0;
            padding: 20px;
            z-index: 2;

            @include media ('less-780') {
                display: none;
            }

            .links_item {
                padding: 10px 15px;
                background: #666;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                color: #ffffcb;
                border-radius: 10px;

                transition: all 0.3s ease;

                &:hover {
                    transform: translate(-5px, -5px);
                    box-shadow: 5px 5px 10px #666;
                    color: #ff9700;
                }

                &:active {
                    color: #ff9700;
                    box-shadow: none;
                }
            }
        }
    }
}
